{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GG ppl</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.webp' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'home' %}" class="logo">GG ppl</a>
            </div>
            <div class="navlinks">
                <div class="link">
                    <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">about us</a> -->
                </div>
            </div>

        </div>
    </header>
    <main>
        {% block body %}    
        {% endblock %}
    </main>


    
    <!-- add footer later -->
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>